<section class="giscus mx-auto mt-10 w-full"></section>

<script src="https://giscus.app/client.js"
        data-repo="lynnww/astro-notion-blog"
        data-repo-id="R_kgDOLIjnFg"
        data-category="Blog Post Comments"
        data-category-id="DIC_kwDOLIjnFs4Cc1pK"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="light_high_contrast"
        data-lang="zh-CN"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>